@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

body {
    background-color: rgba(10, 12, 27, 1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Heebo", sans-serif;
}

.container {
    display: flex;
    width: 800px;
    height: 350px;
    background-color: rgb(23, 26, 49);
    position: relative;
    top: 130px;
}

.img {
    width: 350px;
    height: 350px;
    border-radius: 8px;
    position: relative;
    left: 137px;
}

.down {
    display: flex;
    position: relative;
    top: 10px;
}

.divdown {
    font-weight: 400;
    font-size: 10px;
    position: relative;
    top: 50px;
    left: -38px;
    color: rgb(130, 130, 130);
}

.span1 {
    color: rgb(140, 36, 140);
}

.bgc1 {
    position: relative;
    left: 70px;
    top: 25px;
}

#h3 {
    font-size: 30px;
    cursor: progress;
    line-height: 2.3rem;
}

#para {
    color: rgb(130, 130, 130);
}

.heading {
    font-size: 20px;
    position: relative;
    left: 5px;
}